{% load static %}
{% load avatar_tag %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kancho's app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'side_bar.css' %}">
    {% block head %}{% endblock %}

    {% block styles %}{% endblock %}
</head>
<body>

    {% include 'partial/navigation.html' with title="dog app" %}
    <h1>Welcome to Kancho's app</h1>
    {% show_avatar%}

    {% block content %}
        <h2>Hello World</h2>
    {% endblock %}
    
    <p>
        Hellow World, this is a paragraph of text for testing the base.html
    </p>
    
    {% block body_end_script %}{% endblock %}
 {% include 'partial/footer.html' %}


    
</body>

</html>