<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .nav {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 10px;
        }
    </style>
    
</head>
<body>
    <ul class="nav">
        <li><a href="{% url 'todos-list' %}">Index</a></li>
        <li><a href="{% url 'todos-create' %}">Create Todo</a></li>
    </ul>

{% block content %}
    
	
{% endblock %}
</body>
</html>